#whiteline {
  color:white
}   
hr {
    border-color:black;
    width:50%
}
#ABC {
    background-color:#FAD4A1;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
}
#test {
    background-image: url("pic1.png");
    /* background-position: 0px 300px; */
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    /* animation-name: fadeIn;
    animation-duration: 1s; */
}

.background-image.visible {
  opacity: 1;
 }

 #ngo {
     margin:10px

 }
 .cd-hero-slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
  }
  .cd-hero-slider li.selected {
    /* this is the visible slide */
    position: relative;
    transform: translateX(0);
  }
  .cd-hero-slider li.move-left {
    /* slide hidden on the left */
    transform: translateX(-100%);
  }
  .cd-hero-slider li.is-moving, .cd-hero-slider li.selected {
    /* the is-moving class is assigned to the slide which is moving outside the viewport */
    transition: transform 0.5s;
  }
  .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
    }
    #owl-demo .item img{
      display: block;
      width: 100%;
      height: auto;
  }
  
  #contact {
    background-image: url("mbggrey.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    margin: 25px 25px 0px 0px;
  }
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  height: 35px
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}

.row {
  margin-right: 0px;
}

#title {
  margin-left: 40px;
  /* color: white;
  text-shadow: 2px 2px 4px #000000; */
  font-family: leixo;
  src: url(LEIXO-DEMO.ttf);
}

#boxshadow {
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
}

#boxshadow img {
  width: 100%;
  border: 1px solid #8a4419;
  border-style: inset;
}

#boxshadow::after {
  content: '';
  position: absolute;
  z-index: -1; /* hide shadow behind image */
  box-shadow: 0 15px 20px #000000; 
  width: 70%; 
  left: 15%; /* one half of the remaining 30% */
  height: 100px;
  bottom: 0;
}

/* h1 {
  color: rgb(46, 46, 46);
  text-shadow: 2px 2px 4px #696969;
} */
#fa-cog {
  color: white;
}

/* #bggrey {
  background-color: #EAEAEA;
  background-repeat: repeat-x;
} */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#mbg2 {
  background-image: url("mbg2grey.png");
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  padding: 3px;
  background-size: 100% 100%;
}

#carousel-control {
  display: inline-block;
	padding: 10px;
	background: #B9121B;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#maintitle
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    font-family: leixo;
  src: url(LEIXO-DEMO.ttf);
}

#video {
  padding-top: 5%;
}

#titlefont {
  font-family: leixo;
  src: url(LEIXO-DEMO.ttf);
}

#bodyfont {
  font-family: comfortaa;
  
}

#whiteoutline {
  color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
#link {
  color: white
}
